@use './common.scss' as*;

main {
    /* 공통 */
    section:not(:first-child) {margin-bottom: 140px;}
    h3 {
        font-family: 'SfHambakneun'; font-size: $font-size25; 
        font-weight: $font-width-extrabold; text-align: center;
    }
    .text_16 {text-align: center; line-height: $line-height150;}
    .more {
        font-size: $font-size15; width: 199px; line-height: 38px; text-align: center; 
        display: inline-block; color: $color-gray87; border: 1px solid $color-gray87;
    }

    #bnr {position: relative; margin-bottom: 5px;
        .bnr_content {
            .bnr_containers {
                .bnr_slide {
                    width: 640px; position: relative; z-index: 100;
                    img {width: 100%;}
                    .bnr_text_group {
                        position: absolute; left: 95px; bottom: 75px; z-index: 200; color: $color-white;
                        h2,p { text-shadow: 0 4px 4px rgba(0,0,0,0.4);}
                        h2 {font-size: $font-size35; font-weight: $font-width-bold; margin-bottom: 15px;}
                        p {font-size: $font-size15; font-weight: $font-width-mediun; margin-bottom: 40px; letter-spacing: $letter-spacing10;}
                        .bnr_button {font-size: $font-size15; color: $color-black; background-color:rgba($color: $color-white, $alpha: 0.7); padding : 7px 46.5px; }
                    }
                }
            }
        }
        .bnr_control {
            &>.swiper-button-prev, .swiper-button-next {top: 50%; width: 40px; }
            &>.swiper-button-prev svg , .swiper-button-next svg {color: $color-white; filter: drop-shadow(0 4px 4px rgba(0,0,0,0.4)); }
            &>.swiper-button-prev {left:96px;}
            &>.swiper-button-next {right:96px;}
        }
    }
    #reservation {
        padding: 0 141.5px; @include flex-row; gap: 20px;
        .reservation_g{ height: 84px; padding: 0 100px;  border-bottom: 1px solid $color-gray87;
            @include flex-row; justify-content: space-between; gap: 100px;
            /* 예약 공통 */
            .sortation {text-align: center; margin-bottom: 15px;}
            img {width: 100%;}
            /*  */
            .check_in_out {width: 124px;
                .calendar {
                    @include flex-row; gap:10px;
                    .calendar_img {width: 20px; display: inline-block;}
                }
            }
            .reservation_arrow {width: 57.12px; height: 9.43px;}
            .dividing_line {display: inline-block; width: 1px; }
            .guests_number {width: 196px;
                .count_control {@include flex-row; gap: 20px;
                    .adults, .children { @include flex-row; gap: 5px;
                        .counter {
                            @include flex-row; gap:5px;
                            .adults_btn, .children_btn{@include flex-col; gap: 8px;margin-top: -18px;
                                .counter_btn {width: 7px; height: 4px; display: inline-block;}
                            }
                        }
                    }    
    
                }
            }
            .code {
                input {font-size: $font-size15; border-bottom: 1px solid $color-gray87; width: 154px;}
            }
        }
        &>button {font-size: $font-size15; width: 160px; line-height: 75px; text-align: center; color: $color-white; background-color: #414141;}
    }
    #special_offers, #dining {
        h3 {margin-bottom: 20px;}
        &>p {margin-bottom: 50px;}
        .offers_group { margin-bottom: 50px;
            .card {
                @include flex-row; gap: 15px; 
                .card_inner {
                    @include background; width: 460px; height: 520px; position: relative;
                    .card_text {
                        position: absolute; bottom: 20px; text-align: center; color: $color-white; width: 100%;
                        h4 {font-size: $font-size20; margin-bottom: 15px; font-weight: 300;}
                        .offers_info {line-height: $line-height150; margin-bottom: 25px; font-weight: 300;}
                        .read_more {
                            @include flex-row; gap: 10px;
                            .read_more_text {font-size: $font-size13;}
                        }
                    }
                }
                .offers_card1 {background-image: url(../images/special1.jpg);}
                .offers_card2 {background-image: url(../images/special2.jpg);}
                .offers_card3 {background-image: url(../images/special3.jpg);}
                .dining_card1 {background-image: url(../images/dining1.jpg); }
                .dining_card2 {background-image: url(../images/dining2.jpg); }
                .dining_card3 {background-image: url(../images/dining3.jpg); }
            }
        }
        .offers_control,.dining_control {@include flex-row; position: relative;
            &>.swiper-button-prev, &>.swiper-button-next {@include background; width: 57px; height: 14px; margin-top: -10px;}
            &>.swiper-button-prev svg , .swiper-button-next svg {display: none;}
            &>.swiper-button-prev{left: 255px;background-image: url(../images/prev_gray.png);}
            &>.swiper-button-next{right: 255px; background-image: url(../images/next_gray.png);}
        }
    }
    #membership {background-color: $color-grayf8; padding: 50px;
        @include flex-row; gap: 100px;
        .inspire_membership { text-align: center;
            &>h3 {margin-bottom: 25px;}
            &>p {margin-bottom: 60px;}
            &>a {padding: 10px 59px; font-size: $font-size15; color:$color-gray87; border: 1px solid $color-gray87;}
        }
    }
    #tower_room {padding: 0 96px;
        h3 {margin-bottom: 50px;}
        .tower_room_title {font-size: $font-size20; font-weight: $font-width-semibold; text-align: center; margin-bottom: 50px;}
        .tower_room_type {
            @include flex-row;
            .tower_list {
                background-image: url(../images/forest_tower.jpg); @include background; width: 565px; height: 627px; 
                color:$color-white;  padding: 189px 212px 0;
                .tower_name {
                    text-align: start; width: 141px; margin-bottom: 20px; /* color: rgba($color: white, $alpha: 0.5); */
                    &>span {padding-right: 10px; opacity: 0;}
                }
                .tower_name.active {
                    text-align: start; width: 141px; margin-bottom: 20px; /* color: $color-white; */
                    &>span {padding-right: 10px; opacity: 1;}
                }
            }
            .room {height: 627px;
                background-color: $color-grayf8; padding: 45.4px 88.5px; position: relative;
                .tower_room_title {margin-bottom: 30px;}
                .room_type {/* 타워타입 분류 구간 */
                    .room_list {margin-bottom: 30px;
                        &>.swiper-wrapper {width: 986px; height: 398px;}
                    }
                    .room_type { @include flex-row; justify-content: space-between;
                        .room_indicator {
                            .indicator_number {
                                @include flex-col; align-items: start; color: $color-grayB9;
                                &>span { font-size: $font-size14; font-weight: $font-width-mediun; width: 242px;}
                                &>.num {padding-bottom: 5px; border-bottom: 1px solid $color-grayB9;}
                                &>.label {padding-top: 10px;}
                            }
                            .indicator_number.active {
                                color: $color-black;
                                &>.num { border-bottom: 1px solid $color-black;}
                            }
                        }
                    }
                }/* room_type 끝 */
                .room_arrow {
                    .swiper-button-prev svg , .swiper-button-next svg {width: 24px; height: 24px; color: $color-black;}
                    .swiper-button-prev{left: 34px;}
                    .swiper-button-next {right: 34px;}
                }
            }
        }
    }
    #entertainment { 
        text-align: center; 
        &>h3 {margin-bottom: 50px;}
        .enter_img_group {
            @include flex-row; gap: 10px; margin-bottom: 50px;
            .img_g1,.img_g2,.img_g3 {
                @include flex-col; gap: 10px; @include background;
                /* 공통 */
                a { display: inline-block; position: relative; box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);}
                em {
                    position: absolute; left: 10px; bottom: 10px; text-shadow: 1px 3px 4px rgba(0,0,0,0.5);
                    color :$color-white; font-size: $font-size25; font-weight: $font-width-semibold;
                }
                /*  */
                .g1_1 {background-image: url(../images/enter1_1.png); width: 420px; height: 300px;}
                .g1_2 {background-image: url(../images/enter2_1.png); width: 420px; height: 400px;}
                .g2_1 {background-image: url(../images/enter1_2.png); width: 420px; height: 400px;}
                .g2_2 {background-image: url(../images/enter2_2.png); width: 420px; height: 300px;}
                .g3_1 {background-image: url(../images/enter1_3.png); width: 830px; height: 350px;}
                .img_g3_inner {
                    .g3_2 {background-image: url(../images/enter2_3.png); width: 410px; height: 350px;}
                    .g3_3 {background-image: url(../images/enter2_4.png); width: 410px; height: 350px;}    
                }
            }
        }
    }
    #video {
        color: $color-white; position: relative;
        video {width: 100%;}
        .video_text {
            position: absolute; top:45%; left: 38%; text-align: center; text-shadow: 0 4px 4px rgba(0,0,0,0.6);
            .inspire_video {
                font-size: $font-size25; margin-bottom: 20px; line-height: $line-height150;
            }
            .inspire_resort {
                font-family: "Beaufort for LOL Light"; font-size: $font-size13; font-weight: 400;
                letter-spacing: 2.3em; padding-left: 30px;
            }
        }
    }
}